<header>
    <div class="container">
        <button class="btnMenu" (click)="openModal()"> <fa-icon class="icon menu" [icon]="menuIcon"></fa-icon> </button>
        <a [routerLink]="['/']" class="link home">
            <h1>Sistema de inventarios</h1>
        </a>
        <button class="btn btnMode" (click)="toggleTheme()"> <fa-icon class="icon moon" [icon]="moonIcon"></fa-icon>
        </button>
    </div>

    <div class="container__mobile" [class.slideInLeft]="menuMobileToggle"
        [class.slideOutLeft]="!menuMobileToggle && hasInteracted">
        <div class="back__container">
            <button class="btn back" (click)="openModal()"> <fa-icon class="icon back" [icon]="backIcon"></fa-icon>
            </button>
        </div>
        <div class="options__container">
            <a [routerLink]="['/productos']" class="link"> <fa-icon class="icon products" [icon]="componentsIcon"></fa-icon> </a>
            <a [routerLink]="['/acerca']" class="link"> <fa-icon class="icon about" [icon]="aboutIcon"></fa-icon> </a>
        </div>
    </div>
</header>