main{
    display: flex;
    flex-direction: column;
    height: 100dvh;

}

.container__elements{
    display: flex;
    height: 100%;
    width: 100%;
}

app-products {
    width: 100%;
}

app-acerca{
    width: 100%;
}