<main>
    <div class="container__elements">
        <article class="title__container">
            <h1>Productos</h1>
            <button> <fa-icon class="icon add" [icon]="addIcon"></fa-icon> Agregar</button>
        </article>
        <article class="table__container">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Existencia</th>
                    <th class="opcTh">Opciones</th>
                </tr>
                <tr class="rowData">
                    <td class="id">1</td>
                    <td class="nombre">Playera</td>
                    <td class="desc">AE azul cuello redondo</td>
                    <td class="exis">1200</td>
                    <td class="opc">
                        <button class="editBtn"> <fa-icon class="icon edit" [icon]="editIcon"></fa-icon> </button>
                        <button class="deleteBtn"> <fa-icon class="icon delete" [icon]="deleteIcon"></fa-icon> </button>
                    </td>
                </tr>
                <tr class="rowData">
                    <td class="id">1</td>
                    <td class="nombre">Playera</td>
                    <td class="desc">AE azul cuello redondo</td>
                    <td class="exis">1200</td>
                    <td class="opc">
                        <button class="editBtn"> <fa-icon class="icon edit" [icon]="editIcon"></fa-icon> </button>
                        <button class="deleteBtn"> <fa-icon class="icon delete" [icon]="deleteIcon"></fa-icon> </button>
                    </td>
                </tr>
                <tr class="rowData">
                    <td class="id">1</td>
                    <td class="nombre">Playera</td>
                    <td class="desc">AE azul cuello redondo</td>
                    <td class="exis">1200</td>
                    <td class="opc">
                        <button class="editBtn"> <fa-icon class="icon edit" [icon]="editIcon"></fa-icon> </button>
                        <button class="deleteBtn"> <fa-icon class="icon delete" [icon]="deleteIcon"></fa-icon> </button>
                    </td>
                </tr>
            </table>
        </article>
    </div>

</main>