:host {
    width: 100%;
}

main {
    padding: 3rem 2rem;
}

.title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    & button {
        border: 1px solid var(--greyBorder);
        background-color: transparent;
        border-radius: 4px;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        gap: 0.6rem;
        text-transform: uppercase;
        color: var(--textColor)
    }
}

h1 {
    margin: 0;
}

button {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 0.5rem;
    text-align: left;
    background-color: var(--primary)
}

td,
th {
    border: 1px solid var(--greyBorder);
    padding-left: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.opc {
    padding: 0;
    text-align: center;
}

.btns__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & button {
        border: none;
        background-color: transparent;
        font-size: 1.8rem;
    }
}

.opcTh {
    white-space: nowrap;
    width: 7%;
    text-align: left;
}

// ------------------------------- FORM Sección -------------------------------
.form__modal__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;

    background: rgba(11, 11, 11, 0.78);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
}

.form__container {
    background-color: var(--bg);
    border: 1px solid var(--greyBorder);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 4px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .atributo__container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    input {
        padding: 0.5rem;
    }

    .opciones__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 1rem;
    }

    button {
        padding: 0.7rem 2rem;
        border-radius: 4px;
        cursor: pointer;

        &.cancel {
            background-color: var(--cancel);

            &:hover {
                background-color: var(--cancelSelected);
            }
        }

        &.add {
            background-color: var(--success);

            &:hover {
                background-color: var(--successSelected);
            }
        }
    }
}

.active{
    display: flex;
}