@import '../style/mixins';

:host {
    width: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container__elements {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    & button {
        border: 2px solid var(--greyBorder);
        background-color: transparent;
        border-radius: 4px;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        gap: 0.6rem;
        text-transform: uppercase;
        color: var(--textColor);

        &:hover {
            background-color: var(--hoverAdd);
            color: var(--hoverText);
        }
    }
}

h1 {
    margin: 0;
}

button {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 0.5rem;
    text-align: left;
    background-color: var(--primary)
}

td,
th {
    border: 1px solid var(--greyBorder);
    padding-left: 5px;
}

tr:nth-child(even) {
    background-color: var(--evenTable);
}

tr:hover {
    background-color: var(--evenHover);

}

.opc {
    padding: 0;
    text-align: center;
}

.btns__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & button {
        border: none;
        background-color: transparent;
        font-size: 1.8rem;
        color: var(--textColor);

        &:hover {
            color: var(--hoverBtns);
        }
    }
}

.opcTh {
    white-space: nowrap;
    width: 7%;
    text-align: left;
}

.pagination {
    text-align: center;
    margin-top: auto;
    &::ng-deep{
        &.ngx-pagination{
            margin: 0;
            padding: 0;
        }
    }
}

// ------------------------------- FORM Sección -------------------------------
.form__modal__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;

    background: rgba(11, 11, 11, 0.78);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
}

.form__container {
    background-color: var(--bg);
    border: 1px solid var(--greyBorder);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 4px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .atributo__container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    input {
        padding: 0.5rem;
    }

    .opciones__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 1rem;
    }

    button {
        padding: 0.7rem 2rem;
        border-radius: 4px;
        cursor: pointer;

        &.cancel {
            background-color: var(--cancel);
            border: 1px solid var(--cancelSelected);

            &:hover {
                background-color: var(--cancelSelected);
                color: var(--hoverText);
            }
        }

        &.add {
            background-color: var(--success);
            border: 1px solid var(--successSelected);

            &:hover {
                background-color: var(--successSelected);
                color: var(--hoverText);
            }
        }
    }
}

// ----------------- Modal de eliminar -------------------------

.delete__modal--container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;

    background: rgba(11, 11, 11, 0.78);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
}

.delete__container {
    background-color: var(--bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50rem;
    height: 40rem;
    border-radius: 4px;
    border: 1px solid var(--greyBorder);

    .icon {
        font-size: 13rem;
        color: var(--warning);
    }

    p {
        font-size: 2.1rem;
        font-weight: bold;
    }
}

.btns__container--eliminar {
    display: flex;
    margin-bottom: 2rem;
    gap: 1.5rem;

    .btn {
        padding: 1.3rem 2rem;
        border-radius: 4px;

        &.cancelar {
            border: 1px solid var(--cancelSelected);
            background-color: var(--cancel);

            &:hover {
                background-color: var(--cancelSelected);
                color: var(--hoverText);
            }
        }

        &.eliminar {
            border: 1px solid var(--successSelected);
            background-color: var(--success);

            &:hover {
                background-color: var(--successSelected);
                color: var(--hoverText);
            }
        }

    }
}

// ---------------------- Errores --------------------------
.errorSpan {
    font-size: 1.4rem;
    color: var(--textError);
}

.errorInput {
    background-color: var(--cancel);
    border: 1px solid var(--cancelSelected);

    &input::placeholder {
        color: var(--textColor);
    }
}

.active {
    display: flex;
}

@include tablet {
    .table__container {
        overflow-x: auto;
    }

    table {
        min-width: 65rem;
    }

    h1 {
        font-size: clamp(2.5rem, 1.187rem + 2.622vw, 3.2rem);
    }

    .desc {
        overflow-x: auto;
    }

    .delete__container {
        width: clamp(46rem, 38.494rem + 14.981vw, 50rem);
    }
}

@include mobile {
    .delete__container {
        width: clamp(30rem, 1.556rem + 88.889vw, 46rem);

        p {
            text-align: center;
            font-size: clamp(1.8rem, 1.267rem + 1.667vw, 2.1rem);
        }
    }
}