<main>
    <div class="container__elements">
        <article class="title__container">
            <h1>Productos</h1>
            <button (click)="openModal()"> <fa-icon class="icon add" [icon]="addIcon"></fa-icon> Agregar</button>
        </article>
        <article class="table__container">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Existencia</th>
                    <th class="opcTh">Opciones</th>
                </tr>
                @for (producto of datos$ | async ; track $index) {
                <tr class="rowData">
                    <td class="id"> {{producto.id}} </td>
                    <td class="nombre"> {{producto.nombre}} </td>
                    <td class="desc"> {{producto.descripcion}} </td>
                    <td class="exis"> {{producto.existencia}} </td>
                    <td class="opc">
                        <div class="btns__container">
                            <button class="editBtn"> <fa-icon class="icon edit" [icon]="editIcon"></fa-icon> </button>
                            <button class="deleteBtn"> <fa-icon class="icon delete"
                                    [icon]="deleteIcon"></fa-icon></button>
                        </div>
                    </td>
                </tr>
                }
            </table>
        </article>
    </div>

    <article class="form__modal__container" [class.active]="toggle">
        <div class="form__container">
            <form>
                <div class="atributo__container">
                    <label for="nombre">Nombre Del Producto:</label>
                    <input type="text" name="nombre" placeholder="Introduce el nombre">
                </div>
                <div class="atributo__container">
                    <label for="descripcion">Descripción: </label>
                    <input type="text" name="descripcion" placeholder="Descripción del producto" >
                </div>
                <div class="atributo__container">
                    <label for="existencia">Existencia: </label>
                    <input type="number" placeholder="Stock del producto">
                </div>
                <div class="opciones__container">
                    <button type="button" class="btn cancel" (click)="openModal()">Cancelar</button>
                    <button class="btn add">Enviar</button>
                </div>
            </form>
        </div>
    </article>
</main>